<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{password.set.title}" >JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{password.set.hello} + ', ' + ${user.firstName} + '!'"></p>
<p th:text="#{password.set.body} + ': ' + ${user.email} + '!'"></p>
<a th:href="${resetUrl}" th:text="#{password.set.btn}">Установить пароль</a>
</body>
</html>